
 

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:0px;
    margin-bottom: 0%;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 8, 255), 0 0 1em rgb(0, 51, 255), 0 0 0.2em rgb(255, 255, 255);
    color: rgb(255, 235, 235);
    background-image: url('https://media1.giphy.com/media/l1J9s6L9NWQpqqZTa/giphy.gif?');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
   & aboout-text h1 {
       height:1px;
   }
    
  
    &-content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    & img {
        display: block;
        width:100rem;
        height: 60rem;
        margin-top: 7%;

      
    }
}



  .example {
      position: absolute;
      
    width: 100rem;
    height: 60rem;

    cursor: pointer;
        transform: translateY(5rem);
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(24, 24, 24, 0.5);

    opacity: 0;
   
    transition: all 400ms ease-out;
    text-align: center;
    
    
    &-text{
        color: white;
        font-size: 25px;
    }
    
    
    &:hover {
        opacity: 1;
      }
     
  }