

body {
 background-color:  black;

  }


  .shitter {display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em goldenrod;
   
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../../static/assets/images/police3.jpg)
     
  }
  .shitter img {
    box-shadow: 1px 1px 2px rgb(3, 62, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255); 
    display: grid;
    width: 40%;
    height: 20%;
    align-items: center;    
    margin-top:5px;
  
  }
 