

.navbar{
  display: block;
  background-color: black;
  


  &-link{
    background:
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgb(255, 255, 255),
      rgba(0, 100, 200, 1)
    ),
    linear-gradient(
      to left ,
      rgba(255, 0, 0, 1),
      rgb(255, 255, 255),
      rgba(0, 100, 200, 1)
  );
    
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  border-bottom: 1px transparent;
  transition: 0.5s ease-in-out;
  

  &:hover{
    background-size: 0 3px, 100% 3px;
  
  }

  }

  &-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      font-size: 2em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibre, 'Trebuchet MS', sans-serif;
    
  }
}
  
  .active {
    font-size: 40px;
  }